body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: #f0f0f0;
    overflow: auto; /* allows scrolling */
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.background {
    position: relative;
    min-height: 100vh; 
    background: url('Images/FjionJ_agAUhKt0.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.content, .stuff {
    padding: 20px;
    background: rgba(255, 255, 225, 0.8);
    max-width: 1000px;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
    text-align: justify;
}

.content {
    text-align: center;
}

button:hover {
    background-color: rgb(240, 173, 58);
}

button:active {
    background-color: rgb(247, 201, 122);
}

.UpdateLogBtn, .SpotifyPlaylistBtn { /*Buttons for the popup*/
    background: rgb(232, 151, 11);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: 0;
    width: 200px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.UpdateLog, .SpotifyPlaylist { /*The popup itself*/
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7); 
    width: 50%; 
    background: rgb(246, 192, 44);
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    color: #333;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    max-height: 80vh;
    overflow: auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.UpdateLog::-webkit-scrollbar, .SpotifyPlaylist::-webkit-scrollbar {
    width: 0; 
    height: 0; 
}

.open-UpdateLog, .open-SpotifyPlaylist {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.UpdateLog button, .SpotifyPlaylist button {
    padding: 10px 0;
    width: 100%;
    background: beige;
    border: 0;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.UpdateLog button:hover, .SpotifyPlaylist button:hover {
    background-color: rgb(245, 245, 200);
}

.UpdateLog button:active, .SpotifyPlaylist button:active {
    background-color: rgb(245, 245, 230);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,.close-btn:focus {
    color: black;
}
