html {
    font-family: "EB Garamond", serif;
    margin: 0;
    padding: 0;
    background-color: rgb(22, 22, 22);
}

.Title {
    color: #ebebeb;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Interface {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.Interface > div {
    overflow-y: scroll; 
    max-height: 70vh;   
}

.Interface > div::-webkit-scrollbar {
    width: 0px; 
    height: 0px; 
}

.About, .Project, .Socials, .Playlist, .UpdateLog {
    font-family: "EB Garamond", serif;
    border: 1px solid #434343;
    color: #434343;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    margin: 20px auto;
    text-align: left;
    box-sizing: border-box;
}

#About, #Project, #Socials, #Playlist, #UpdateLog {
    color: #f9f9f9;
}

#About p, #Spotify p, #Projects p{
    color: #f9f9f9; 
    font-size: 20px;
}

#About h2, #Spotify h2, #Projects h2, #UpdateLog h2{
    color: #f9f9f9; 
    font-size: 30px;
}

#UpdateLog h4,#UpdateLog p {
    margin: 0;
    padding: 5px 0; 
    font-size: 20px;
    text-align: center;
}

.InfoButtons{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#ButtonChoices1, #ButtonChoices2, #ButtonChoices3, #ButtonChoices4, #ButtonChoices5 {
    border: 1px solid #f9f9f9;
    border-radius: 20px;
    width: 150px;
    height: 45px;
    margin-right: 10px;
    color: #434343;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    top: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

#ButtonChoices1:hover, #ButtonChoices2:hover, #ButtonChoices3:hover, #ButtonChoices4:hover, #ButtonChoices5:hover {
    box-shadow: 0 0 10px rgba(249, 249, 249, 0.6);
    animation: wobble 10s infinite ease-in-out;
}

#ButtonChoices1:active, #ButtonChoices2:active, #ButtonChoices3:active, #ButtonChoices4:active, #ButtonChoices5:active {
    box-shadow: 0 0 10px rgba(255, 253, 133, 0.9);
    border: 1px solid rgb(255, 253, 133);
}

#ButtonChoices1.active, #ButtonChoices2.active, #ButtonChoices3.active, #ButtonChoices4.active, #ButtonChoices5.active {
    box-shadow: 0 0 10px rgba(255, 253, 133, 0.9);
    border: 1px solid rgb(255, 253, 133);
}

.hidden {
    display: none;
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
    transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
}

.slide-up {
    animation: slideUp 0.5s ease-out forwards;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.AboutMe {
    height: auto;
}

#floating-text:hover {
    transform: scale(1.02);
}

.Socials {
    height: 120px;
}

.Projects p {
    font-size: 10px;
}

ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    color:#f9f9f9;
}

.project-icon{
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.social-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img:hover, .social-icon:hover {
    transform: scale(1.1);
}

#floating-text h1, #floating-text p {
    animation: float 10s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 768px) {
    .Interface {
        width: 90%;
    }

    .AboutMe, .Socials {
        width: 100%;
        padding: 20px;
    }

    .InfoButtons {
        display: grid center;
        grid-template-columns: repeat(2, 1fr);
    }

    #ButtonChoices1, #ButtonChoices2, #ButtonChoices3, #ButtonChoices4, #ButtonChoices5 {
        margin-bottom: 10px;
        width: 130px;
    }

    #Spotify h2, #Spotify p {
        font-size: 20px;
    }
}
